<p>ejercicio-rxjs works!</p>
<div class="container">
  <div class="boxes">
    <h4>Lista = {{ lista.length }}</h4>
    <ul *ngFor="let item of lista">
      <li>{{ item.name }}</li>
    </ul>
  </div>
  <div class="boxes" *ngIf="containValueOfSubject">
    <h4>Subject with filter = {{ containValueOfSubject ? containValueOfSubject.length : 0 }}</h4>
     <ul *ngFor="let item of containValueOfSubject">
       <li>{{ item.name }}</li>
     </ul>
  </div>
  <div class="boxes">
    <h4>ZIP OPERATOR</h4>
    <span #showZip></span>
  </div>

</div>
