<p>stock-products works!</p>
<div class="stock-product" [formGroup]="parent">
    <div formArrayName="stock">
        <div *ngFor="let item of stocks; let i = index;">
            <div class="stock-product__content" [formGroupName]="i">
                <div class="stock-product__name">
                    <!-- {{ item.value | appShowInfoProduct }} -->
                    {{ getProducts(item.value.product_id) | json }}
                </div>
                <input type="number" name="quantity" id="quantity" step="10" min="10" max="1000" formControlName="quantity">
                <button type="button" (click)="removeItem(i)">Remove</button>
            </div>
        </div>
    </div>
</div>
