


<!-- SPINNER  -->
<app-spinner></app-spinner>


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse dark" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home<span >(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resolver-guard">resolver-guard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="observables">Observables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="operador-pluck">operador-pluck</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ejercicio-rxjs">Ejercicios RXJS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="decorator">creando decorator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="strategy-pattern">Strategy pattern</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="classes-course">Classes Extends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view-child">view-child</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="utility-types">Utility types de TypeScrpit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="form-endpoint">Swagger prueba</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="value-control-accessor">Example value control accessor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="wiget-wrapper">Design pattern widget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dependency-injection">Dependency injection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="composition">Composition</a>
      </li>
      <li class="nav-item drop-down">
        <a class="nav-link" routerLink="testing-jasmine">Testing Jasmine</a>
      </li>
      <li class="nav-item drop-down">
        <a class="nav-link" routerLink="directive-lifecycle">Directives - lifecycle</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Welcome to testing!</h1>
<h3>PRUEBA CON FORROOT. NOMBRE ES: {{ appName }}</h3> -->

<button (click)="goTo('playground')">Playground</button>
<button (click)="goTo('ultimate')">Ultimate course</button>
<router-outlet></router-outlet>

<!-- <app-pruebas-testing></app-pruebas-testing> -->

<!-- <app-view-child></app-view-child> -->

<!-- <h2>lifecycle hooks</h2>
<div>
  <div>
    <button (click)="subtract()">subtract</button>
    <app-child [myNewNumber]="myNumber" [myName]="name" [myUser]="user.name">
      <h3 #contentParagraph>Esto se debería ver con un ng-content en el componente hijo</h3>
    </app-child>
    <button (click)="addition()">addition</button>
    <br>
    <a (click)="updateUser()">updateUser</a>
  </div>
</div> -->
