<div class="row">
  <div class="col-6">
    <h3>Exploring this with .call, .apply and .bind</h3>
    <a
      href="https://app.ultimatecourses.com/course/typescript-masterclass/exploring-this-with-call-apply-and-bind"
    >
      Ultime course. Exploring “this” with .call, .apply and .bind video
    </a>
    <p>
      <b>.call</b>The .call invokes the function and method changes the
      <b>this</b> scope of the function and pass some arguments as a string,
      number, etc
    </p>
    <p>
      <b>.apply</b>The .apply invokes the function and method changes the
      <b>this</b> scope of the function and pass some arguments as an array
    </p>
    <p>
      <b>.bind</b>The .bind doesn't invoke the function untill the function is
      invoked and method changes the <b>this</b> scope of the function and pass
      some arguments as a string, number, etc
    </p>
  </div>
  <div class="col-6">
    <h3>Arrow Functions and Lexical Scope</h3>
    <a
      href="https://app.ultimatecourses.com/course/typescript-masterclass/arrow-functions-and-lexical-scope"
      >Arrow Functions and Lexical Scope</a
    >
    <p>Using <b>function() (lexical scope)</b> changes the scope</p>
    <p>Using <b>() => (Arrow Function)</b> doesn't change the scope</p>
  </div>
</div>
