<h3>curso-rxjs works!</h3>
<div class="row">
  <div class="col-6">
    <app-ejercicio-rxjs></app-ejercicio-rxjs>
  </div>

  <div class="col-6">
    <app-subscription></app-subscription>
  </div>
  <div class="col-6">
    <app-subject></app-subject>
  </div>
  <div class="col-6">
    <app-operador-pluck></app-operador-pluck>
  </div>
  <div class="col-6">
    <app-operators-time></app-operators-time>
    <!-- <app-observables></app-observables> -->
  </div>
  <div class="col-6">
    <app-operators-transformation></app-operators-transformation>
  </div>
  <div class="col-6">
    <app-operators-ymetodos-combinacion-observables></app-operators-ymetodos-combinacion-observables>
  </div>
</div>




