<div class="row">
  <p>dashboard works!</p>
  <div class="col-6">
    <h3>Carga todos los módulos aunque sean lazyloading</h3>
    <img
      src="assets/img/ultimate-course/routing/preload all modules.png"
      alt="preload all modules"
    />
  </div>
  <div class="col-6">
    <h3>En el módulo crear una clase para customizar la carga de rutas</h3>
    <img
      src="assets/img/ultimate-course/routing/custom-preloading-strategy.png"
      alt="custom-preloading-strategy"
    />
  </div>
  <div class="col-6">
    <h3>Working with GUARDS</h3>
    <p>
      canLoad ---/> is used to prevent the app from loading entire modules
      lazily if the user is not authorized to do so.
    </p>
    <p>
      canActivate ---/> is used to prevent unauthorized users form accesing
      certain routes.
    </p>
    <p>
      canActivateChild ---/> is used to prevent unauthorized users form accesing
      certain children routes.
    </p>
    <p>
      canDeActivate ---/> is used to prevent users are about to lose information
      because of they are leaving.
    </p>
  </div>
</div>
